In [1]:
import pandas as pd
import os

from datetime import datetime, timedelta

import eikon as ek

## Import Data

Import to remember to set your api_key in the code

In [2]:
# Creating Class to Import Data

class ImportData:
 
    def __init__(self, filename = None):
        
        # Constants as instance attributes
        self.end_date = datetime.today()
        self.start_date = self.end_date - timedelta(days=7*365)
        self.filename = filename

        self.export_folder = "../../data/processed"
        self.raw_folder = "../../data/raw"

        os.makedirs(self.export_folder, exist_ok=True)
    
    # Import Data

    def import_eikon_series(self, ticker_code: str, app_key):
        
        # Ensure valid API key
        ek.set_app_key(app_key)  # Make sure to use a valid API key
        
        # Fetch data from Eikon
        df = ek.get_timeseries([ticker_code], 
                               start_date=self.start_date, 
                               end_date=self.end_date)

        # Reset index to make the date a column
        df.reset_index(inplace=True)

        # Rename columns for clarity
        df.columns = ['Date', ticker_code]

        filepath = os.path.join(self.export_folder, f"{self.filename}.csv")
        df.to_csv(filepath, index=False)
        print(f"Data exported to {filepath}")
    
        return df
    
    def import_eia_raw_data(self, sheet_name, col_position):

        # Listar arquivos disponíveis no diretório
        files = os.listdir(self.raw_folder)
        if not files:
            raise FileNotFoundError(f"Nenhum arquivo encontrado em {self.raw_folder}")

        # Seleciona o primeiro arquivo encontrado (ajuste conforme necessário)
        file_import_name = files[0]  
        file_path_import = os.path.join(self.raw_folder, file_import_name)

        # Importar o arquivo Excel
        df = pd.read_excel(file_path_import, sheet_name=sheet_name, usecols=col_position, skiprows= 2)

        filepath = os.path.join(self.export_folder, f"{self.filename}.csv")
        df.to_csv(filepath, index=False)
        print(f"Data exported to {filepath}")

        return df

In [3]:
# Stocks
ImportData("us_distillates_stocks").import_eia_raw_data("Data 3", [0, 1])
ImportData("padd1_distillates_stocks").import_eia_raw_data("Data 3", [0, 2])
ImportData("padd2_distillates_stocks").import_eia_raw_data("Data 3", [0, 3])
ImportData("padd3_distillates_stocks").import_eia_raw_data("Data 3", [0, 4])
ImportData("padd4&5_distillates_stocks").import_eia_raw_data("Data 3", [0, 5, 6])

Data exported to ../../data/processed/us_distillates_stocks.csv
Data exported to ../../data/processed/padd1_distillates_stocks.csv
Data exported to ../../data/processed/padd2_distillates_stocks.csv
Data exported to ../../data/processed/padd3_distillates_stocks.csv
Data exported to ../../data/processed/padd4&5_distillates_stocks.csv

,Date,Weekly Lower Atlantic (PADD 1C) Ending Stocks of Distillate Fuel Oil (Thousand Barrels),Weekly Midwest (PADD 2) Ending Stocks of Distillate Fuel Oil (Thousand Barrels)
0,1982-08-20,NaN,NaN
1,1982-08-27,NaN,NaN
2,1982-09-24,NaN,NaN
3,1982-10-01,NaN,NaN
4,1982-10-08,NaN,NaN
...,...,...,...
2209,2025-01-31,11264.0,33362.0
2210,2025-02-07,10143.0,33988.0
2211,2025-02-14,10647.0,33964.0
2212,2025-02-21,10828.0,34723.0
2213,2025-02-28,10438.0,34399.0

In [4]:
# Demand
ImportData("us_distillates_demand").import_eia_raw_data("Data 8", [0, 1])

Data exported to ../../data/processed/us_distillates_demand.csv

,Date,Weekly U.S. Product Supplied of Distillate Fuel Oil (Thousand Barrels per Day)
0,1991-02-08,3139
1,1991-02-15,3121
2,1991-02-22,2847
3,1991-03-01,2964
4,1991-03-08,3338
...,...,...
1773,2025-01-31,4599
1774,2025-02-07,3685
1775,2025-02-14,4364
1776,2025-02-21,4097
1777,2025-02-28,3991